.mainbody{
    /* background-color: black; */
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    }
    
    h1 {
    color: red;
    }
    
    h6{
    color: red;
    text-decoration: underline;
    }
    
    